/* side bar */
.link{
   border-radius: 13px;
   padding: 10px 20px !important;
   text-decoration: none;
   color: white;
} 

.link:hover {
    background-color: rgba(250, 235, 215, 0.363);
    color: rgb(0, 0, 0);    
    text-decoration: none;
} 

.placeholder-light {
  background-color: #e9ecef !important; /* very light grey */
  opacity: 1 !important;
  border-radius: 6px;
  display: inline-block;
  height: 16px; /* adjust thickness of skeleton */
}